name: Publish Docker image

on:
  push:
    tags: ["v*"]

jobs:
  push_to_registry:
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v6

      - name: Use QEMU for people who are into that
        uses: docker/setup-qemu-action@v3
      - name: Use buildx for multi-platform images
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: materializebot
          password: ${{ secrets.DOCKER_HUB_MATERIALIZEBOT_API_KEY }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: materialize/ephemeral-storage-setup-image
          tags: |
            type=semver,pattern=v{{version}}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
